{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<head>
  <meta charset="utf-8">
  <title>Adote Agora</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- theme meta -->
  <meta name="theme-name" content="agen" />

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'css/slick/slick.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'css/themify-icons/themify-icons.css' %}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{% static 'css/venobox/venobox.css' %}">
  <!-- card slider -->
  <link rel="stylesheet" href="{% static 'css/card-slider/css/style.css' %}">
  
  <!-- Main Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

</head>

<body>
  <header class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'fale-conosco' %}">Fale conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adote' %}">Adote hoje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'porqueAdotar' %}">Porque Adotar</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <!-- banner -->
  <section class="banner bg-cover position-relative d-flex justify-content-center align-items-center"
    data-background="{% static 'img/backgrounds/Adote.png' %}" style =" height: 630px;">

  </section>
  <!-- /banner -->


  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsLola' %}">
                <img src="{% static 'img/animais/cachorro1.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Lola</a>
                </div>
              </a>
            </article>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsRex' %}">
                <img src="{% static 'img/animais/cachorro2.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Rex</a>
                </div>
              </a>
            </article>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsThor' %}">
                <img src="{% static 'img/animais/cachorro3.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Thor</a>
                </div>
              </a>
            </article>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsBolt' %}">
                <img src="{% static 'img/animais/cachorro4.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Bolt</a>
                </div>
              </a>
            </article>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsMia' %}">
                <img src="{% static 'img/animais/gato1.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Mia</a>
                </div>
              </a>
            </article>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card-cachorro">
            <article class="card">
              <a href="{% url 'formsSafira' %}">
                <img src="{% static 'img/animais/gato2.jpg' %}" alt="post-thumb" class="card-img-top mb-2" style="height: 256px; border-radius: 10px;">
                <div class="card-body p-0">
                  <a class="h4 card-title d-block text-dark hover-text-underline">
                    Safira</a>
                </div>
              </a>
            </article>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- /blog -->
  

  <!-- footer -->
  <footer class="bg-secondary position-relative">

    <div class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 lg-12 col-12">
            <h4 class="text-white mb-10 lg-10 ">Esse site foi feito a partir de um projeto de trabalho de conclusão de curso da escola Etec João Maria Stevantto do ano de 2023</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <p class="text-light mb-0">Copyright &copy; 2023<a class="text-gradient-primary"
                href="https://www.etecitapira.com.br/">Etec</a>
            </p>
          </div>
          <div class="col-md-6">
            <ul class="list-inline text-md-right text-center">
              <li class="list-inline-item"><a class="d-block p-3 text-white"
                  href="https://www.instagram.com/institutomeupet/?igshid=MzRlODBiNWFlZA%3D%3D"><i
                    class="ti-instagram"></i></a>
              </li>
              <li class="list-inline-item"><a class="d-block p-3 text-white" href="https://github.com/LuskasGT/TCC"><i
                    class="ti-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- jQuery -->
  <script src="{% static 'js/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <!-- slick slider -->
  <script src="{% static 'js/slick/slick.min.js' %}"></script>
  <!-- venobox -->
  <script src="{% static 'js/venobox/venobox.min.js' %}"></script>
  <!-- shuffle -->
  <script src="{% static 'js/shuffle/shuffle.min.js' %}"></script>
  <!-- apear js -->
  <script src="{% static 'js/counto/apear.js' %}"></script>
  <!-- counter -->
  <script src="{% static 'js/counto/counTo.js' %}"></script>
  <!-- card slider -->
  <script src="{% static 'js/card-slider/js/card-slider-min.js' %}"></script>
  <!-- google map -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
  <script src="{% static 'js/google-map/gmap.js' %}"></script>

  <!-- Main Script -->
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>









