{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
<head>
  <meta charset="utf-8">
  <title>Instituto Meu Pet</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- theme meta -->
  <meta name="theme-name" content="agen" />

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href='{% static "css/bootstrap/bootstrap.min.css" %}'>
  <!-- slick slider -->
  <link rel="stylesheet" href='{% static "css/slick/slick.css" %}'>
  <!-- themefy-icon -->
  <link rel="stylesheet" href='{% static "css/themify-icons/themify-icons.css" %}'>
  <!-- venobox css -->
  <link rel="stylesheet" href='{% static "css/venobox/venobox.css" %}'>
  <!-- card slider -->
  <link rel="stylesheet" href='{% static "css/card-slider/css/style.css" %}'>

  <!-- Main Stylesheet -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href= '{% static "img/images/favicon.ico" %}' type="image/x-icon">
  <link rel="icon" href='{% static "img/images/favicon.ico" %}' type="image/x-icon">

</head>

<body>


  <header class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fale-conosco.html">Fale conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="adocao.html">Adote hoje</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- banner -->
  <section id="background-banner" class="banner bg-cover position-relative d-flex justify-content-center align-items-center"
    data-background='{% static "/img/images/backgrounds/banner.png" %}'>
  </section>
  <!-- /banner -->



  <!-- serviços -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <h2 class="section-title">Nossos serviços que oferecemos</h2>
          <p class="lead">Nosso site de adoção de animais de estimação oferece uma variedade de serviços para ajudar os
            animais necessitados.
            Conectamos animais abandonados e resgatados com lares amorosos através do processo de adoção. Nossa
            plataforma permite que os usuários naveguem
            pelos diferentes animais disponíveis para adoção, fornecendo informações detalhadas sobre idade, raça e
            temperamento. Facilitamos o processo de adoção,
            fornecendo informações completas sobre os animais e permitindo que os interessados ​​façam solicitações e
            organizem visitas para conhecer seus futuros companheiros.
            Além disso, oferecemos diversos serviços para doação de alimentos ou dinheiro, além de locais para tirar
            dúvidas.

          </p>
        </div>
      </div>
      <!-- serviços -->



      <!-- cards -->
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <a href="adocao.html">
            <div class="card hover-bg-secondary shadow py-4">
              <div class="card-body text-center">
                <div class="position-relative">
                  <img src='{% static "/img/images/cards/encontre seu amiguinho.png" %}'
                    style="height: 130px; width: 130px; border-radius: 100%;"></src>
                </div>
                <h4 class="mb-4">Encontre seu amiguinho</h4>
                <p>Encontre o seu melhor amigo, veja os animais que estão conosco na espera de você e da sua familia.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <a href="https://www.youtube.com/watch?v=s1ax8Tx_Jz0">
            <div class="card hover-bg-secondary shadow py-4">
              <div class="card-body text-center">
                <div class="position-relative">
                  <img src='{% static "/img/images/cards/por que adotar.jpeg" %}'
                    style="height: 130px; width: 130px; border-radius: 100%;"></src>
                </div>
                <h4 class="mb-4">Por que adotar um animal?</h4>
                <p>Adotar um animal traz amor incondicional, companheirismo e alegria à sua vida, ao mesmo tempo em que
                  oferece uma segunda chance a um ser vivo que precisa de um lar.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <a href='{ url "fale-conosco.html" }'>
            <div class="card hover-bg-secondary shadow py-4">
              <div class="card-body text-center">
                <div class="position-relative">
                  <img src='{% static "/img/images/cards/ajude-nos.png" %}' style="height: 130px; width: 130px; border-radius: 100%;">
                  </src>
                </div>
                <h4 class="mb-4">Ajude-nos</h4>
                <p>Ajude-nos a fazer a diferença! Nosso site oferece adoção de animais, doação de alimentos e dinheiro,
                  além de um canal de contato direto.
                  Adote um animal em busca de um lar amoroso, faça doações de alimentos para garantir sua nutrição
                  adequada e contribua financeiramente para cuidados
                  veterinários e bem-estar. Juntos, podemos mudar vidas! Entre em contato conosco para saber como ajudar.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- cards -->

  <!-- team -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <h2>Nosso time</h2>
          <p>Esse site foi criado a partir de um projeto de tcc pelos alunos da Etec João Maria Stevanatto</p>
          <div class="section-border"></div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-6">
          <div class="card hover-shadow">
            <img src='{% static "/img/images/team/LucasGT.jpg" %}' alt="team-member" class="card-img-top" height="295px" width="220">
            <div class="card-body text-center position-relative zindex-1">
              <h4><a class="text-dark">Lucas GT</a></h4>
              <i>Programador e Designer</i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card hover-shadow">
            <img src='{% static "/img/images/team/Julia O.png" %}' alt="team-member" class="card-img-top" height="295px" width="220">
            <div class="card-body text-center position-relative zindex-1">
              <h4><a class="text-dark">Julia O</a></h4>
              <i>Documentação</i>
            </div>
          </div>
        </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img src='{% static "/img/images/team/Tiago.jpg" %}' alt="team-member"
                class="card-img-top" height="295px" width="220">
              <div class="card-body text-center position-relative zindex-1">
                <h4><a class="text-dark">Tiago</a></h4>
                <i>Documentação</i>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img src="https://cdn.pixabay.com/photo/2017/02/25/22/04/user-icon-2098873_1280.png" alt="team-member"
                class="card-img-top" height="295px">
              <div class="card-body text-center">
                <h4>Julia Z</h4>
                <i>Documentação</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /team -->

  <!-- about -->
  <section class="section-lg position-relative bg-cover" data-background='{% static "/img/images/backgrounds/about-bg.jpg" %}'>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-md-8 col-sm-7 col-8">
          <h2 class="text-white mb-4">Quem nós somos?</h2>
          <p class="text-light mb-4">Somos uma empresa que prioriza a vida e bem dos animais abandonados pelos seus
            donos, cuidamos deles com a melhor qualidade que conseguimos, até que ele seja adotado por uma família ou
            por você.</p>
          <a href="about.html" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

  <!-- footer -->
  <footer class="bg-secondary position-relative">

    <div class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-6">
            <h4 class="text-white mb-5">About</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-light d-block mb-3">Service</a></li>
              <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
              <li><a href="#" class="text-light d-block mb-3">About us</a></li>
              <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
              <li><a href="#" class="text-light d-block mb-3">Support</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <h4 class="text-white mb-5">Company</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-light d-block mb-3">Service</a></li>
              <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
              <li><a href="#" class="text-light d-block mb-3">About us</a></li>
              <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
              <li><a href="#" class="text-light d-block mb-3">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <p class="text-light mb-0">Copyright &copy; 2023 a theme by <a class="text-gradient-primary"
                href="https://www.etecitapira.com.br/">Etec</a>
            </p>
          </div>
          <div class="col-md-6">
            <ul class="list-inline text-md-right text-center">
              <li class="list-inline-item"><a class="d-block p-3 text-white"
                  href="https://www.instagram.com/institutomeupet/?igshid=MzRlODBiNWFlZA%3D%3D"><i
                    class="ti-instagram"></i></a>
              </li>
              <li class="list-inline-item"><a class="d-block p-3 text-white" href="https://github.com/LuskasGT/TCC"><i
                    class="ti-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- jQuery -->
  <script src='{% static "js/jQuery/jquery.min.js"%}'></script>
  <!-- Bootstrap JS -->
  <script src='{% static "js/bootstrap/bootstrap.min.js"%}'></script>
  <!-- slick slider -->
  <script src='{% static "js/slick/slick.min.js"%}'></script>
  <!-- venobox -->
  <script src='{% static "js/venobox/venobox.min.js"%}'></script>
  <!-- shuffle -->
  <script src='{% static "js/shuffle/shuffle.min.js" %}'></script>
  <!-- apear js -->
  <script src='{% static "js/counto/apear.js" %}'></script>
  <!-- counter -->
  <script src='{% static "js/counto/counTo.js" %}'></script>
  <!-- card slider -->
  <script src='{static "js/card-slider/js/card-slider-min.js" %}'></script>
  <!-- google map -->
  <script
    src='{% static "https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places" %}'></script>
  <script src='{% static "js/google-map/gmap.js" %}' ></script>

  <!-- Main Script -->
  <script src='{% static "js/script.js" %}'></script>

</body>

</html>